@tailwind base;
@tailwind components;
@tailwind utilities;

/* Establece el tamaño original del elemento */
.question {
    transform: scale(1);
  }
  
  /* Define la animación */
  @keyframes animacion-escala {
    0% {
      transform: scale(1); /* El elemento está en su tamaño original */
    }
    50% {
      transform: scale(1.1); /* El elemento se agranda a un tamaño del 150% */
    }
    100% {
      transform: scale(1); /* El elemento vuelve a su tamaño original */
    }
  }
  
  /* Aplica la animación al elemento */
  .question {
    animation: animacion-escala 2s ease-in-out infinite; /* La animación dura 2 segundos y se repite indefinidamente */
  }

body {
  background-color: #0D0F12;
}

body::before{
  content: '';
  background: #EB455F;
  filter: blur(150px);
  width: 250px;
  height: 250px;
  position: absolute;
  left: -50px;
  top: 100px;
  z-index: -1;
}

body::after{
  content: '';
  background: #4F5D75;
  filter: blur(150px);
  width: 250px;
  height: 250px;
  position: absolute;
  right: 350px;
  top: 420px;
  z-index: -1;
}

.bg-blur{
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: #0d0f12a8;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

footer{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

footer img{
  width: 30px;
}

/* UploadImage Icon */

.custum-file-upload {
  height: 150px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid #474747;
  padding: 1.5rem;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 30px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

@media screen and (max-width: 1000px){
  footer{
    display: none;
  }

  body::after{
    display: none;
  }
}
